{% extends 'base.html' %}

{% block content %}
<h2>Twitch Wall</h2>
<div>
    {% for streamer in twitch_data %}
    <div style="border: 1px solid #ccc; margin-bottom: 10px; padding: 10px;">
        <img src="{{ streamer.thumbnail }}" alt="Thumbnail for {{ streamer.twitch_name }}" width="320" height="180">
        <h3>{{ streamer.twitch_name }}</h3>
        <p>Status: {{ streamer.status }}</p>
        {% if streamer.status == "Online" %}
            <p>Viewers: {{ streamer.viewers }}</p>
            <p>Jeu: {{ streamer.game_name }}</p>
            <p>Titre: {{ streamer.title }}</p>
        {% endif %}
        <a href="https://www.twitch.tv/{{ streamer.twitch_name }}" target="_blank">Regarder le live</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
